.roadmap {
  background: #174093;
  padding: 130px 0 170px;
  overflow: hidden;
}

@media screen and (max-width: 599px) {
  .roadmap {
    background: #174093;
    padding: 100px 0;
    overflow: hidden;
  }
}
