.overflow {
  overflow-x: hidden;
  padding-top: 50px;
  margin-top: -200px;
}
.overflowMobile {
  overflow-x: hidden;
}
.slideContainer {
  max-width: 280px !important;
}
.sliderMobile{
  display: none;
}

@media screen and (max-width: 599px){
  .sliderMobile{
    display: block;
  }
}