.traits {
  background: url("../../public/images/trait-back.png") bottom center no-repeat,
    #091434;
  padding: 100px 0 250px;
}
.ourTraits {
  background: #091434;
  padding-bottom: 130px;
}
.yetiSubtitle {
  font-size: 24px;
  font-family: "Rubik", sans-serif !important;
  margin-bottom: 20px;
}
.yetiTitle {
  font-size: 64px;
  line-height: 64px;
  font-family: "Rubik", sans-serif !important;
  color: #00a6f1;
  margin-bottom: 40px;
}
.ourTitle {
  margin-top: 100px;
  margin-bottom: 54px;
}
.yetiDesc {
  font-size: 20px;
  line-height: 32px;
  margin-bottom: 24px;
  font-weight: 700;
}
.mYeti {
  margin-top: 100px;
  margin-bottom: 64px;
}
.bold {
  font-weight: 700;
}
.mintBtn {
  width: 210px;
}

@media screen and (max-width: 1199px) {
  .traits {
    padding: 0px 0 250px;
    text-align: center;
  }
  .mYeti {
    margin-top: 100px;
  }
}

@media screen and (max-width: 599px) {
  .yetiSubtitle {
    font-size: 16px;
  }
  .yetiTitle {
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 20px;
  }
  .yetiDesc {
    font-size: 16px;
    line-height: 32px;
    margin-bottom: 24px;
    font-weight: 700;
  }
  .ourTitle {
    margin-top: 100px;
    margin-bottom: 54px;
  }
}
