@font-face {
  font-family: "Rubik";
  src: local("Rubik"),
    url(../../public/fonts/rubik-mono-one.ttf) format("truetype");
}

.traits {
  background: url("../../public/images/trait-back.png") bottom center no-repeat,
    #091434;
  padding: 250px 0 250px;
}
.ourTraits {
  margin-top: -200px;
  background: #091434;
  padding-bottom: 130px;
}
.yetiSubtitle {
  font-size: 32px;
  font-family: "Rubik" !important;
}
.yetiTitle {
  font-size: 64px;
  line-height: 64px;
  font-family: "Rubik" !important;
  color: #00a6f1;
  margin-bottom: 40px;
}
.ourTitle {
  margin-top: 180px;
  margin-bottom: 54px;
}
.mYeti {
  margin-top: 180px;
}
.mImageYeti {
  margin-top: 80px;
}
.yetiDesc {
  font-size: 20px;
  line-height: 32px;
  margin-bottom: 24px;
}
.bold {
  font-weight: 700;
}
.mintBtn {
  width: 210px;
}

@media screen and (max-width: 1199px) {
  .traits {
    padding: 125px 0 250px;
    text-align: center;
  }
  .mYeti {
    margin-top: 100px;
  }
}

@media screen and (max-width: 599px) {
  .traits {
    padding: 50px 0 250px;
  }
  .yetiSubtitle {
    font-size: 16px;
  }
  .yetiTitle {
    font-size: 32px;
    line-height: 40px;
    font-family: "Rubik" !important;
    color: #00a6f1;
    margin-bottom: 40px;
  }
  .ourTitle {
    margin-top: 100px;
    margin-bottom: 54px;
  }
}
