@font-face {
  font-family: "Satoshi";
  src: local("Satoshi"), url(../public/fonts/satoshi.ttf) format("truetype");
}

@font-face {
  font-family: "Rubik";
  src: local("Rubik"),
    url(../public/fonts/rubik-mono-one.ttf) format("truetype");
}

* {
  margin: 0;
  padding: 0;
  font-family: "Satoshi" !important;
  color: #fff;
}

body {
  width: 100%;
  height: 100%;
  background: #091434;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.flex-start {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-end {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.flex-space {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.title-section {
  text-align: center;
  font-size: 56px;
  font-family: "Rubik" !important;
}

.btn {
  font-weight: 900;
  font-size: 16px;
  background-color: #00a6f1;
  height: 56px;
  letter-spacing: 0.01em;
}
.btn:hover {
  background-color: #14b6ff;
}

.mr-4 {
  margin-right: 48px;
}

.first-view {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    116.23deg,
    #184093 24.02%,
    rgba(24, 64, 147, 0) 63.66%
  );
  position: relative;
}
.canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -2;
}

.menu-position {
  justify-content: center;
}

.menu-position button {
  margin: 0 36px;
  font-weight: 500;
  font-size: 16px;
  text-transform: none;
  border-bottom: 2px solid transparent;
  border-radius: 0;
}
.menu-position button:hover {
  background: none;
  border-bottom: 2px solid #fff;
}

/* Swapper css */
.swiper-wrapper {
  padding-bottom: 80px;
}
.swiper-pagination-bullet {
  width: 32px !important;
  height: 8px !important;
  background: #00a6f1 !important;
  border-radius: 10px !important;
  margin-right: 32px !important;
  opacity: 0.4;
}
.swiper-pagination-bullet-active {
  width: 80px !important;
}

/* traits */

.accordion {
  background-color: transparent;
}
.Mui-expanded .acc-title {
  color: #00a6f1 !important;
}
.Mui-expanded .MuiAccordionSummary-content,
.MuiAccordionSummary-content {
  margin: 16px 0 !important;
}

.community {
  padding: 50px 0;
}
.comm-flex {
  display: flex;
  justify-content: center;
}
.comm-stat {
  margin: 0 40px;
}
.comm-social {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  transition: 0.3s ease;
}
.comm:hover .comm-social {
  background-color: #00a6f1;
}
.comm-item {
  font-size: 24px;
  font-weight: 900;
  line-height: 24px;
  margin-left: 16px;
}
.footer {
  background: #000113;
  border-top: 2px solid #00a6f1;
  width: 100%;
  height: 70px;
}

@media screen and (min-width: 1620px) {
  .MuiContainer-root {
    padding: 0 80px;
  }
}

@media screen and (max-width: 1619px) {
  .MuiContainer-root {
    padding: 0 5%;
  }
}

@media screen and (max-width: 1199px) {
  .menu-position button {
    margin: 0 10px;
  }
  .d-none {
    display: none;
  }
  .swiper-pagination-bullet {
    width: 16px !important;
  }
  .swiper-pagination-bullet-active {
    width: 40px !important;
  }
  .first-view {
    padding-bottom: 50px;
  }
}

@media screen and (max-width: 899px) {
  .d-lg-none {
    display: none;
  }
  #menu-appbar .MuiPopover-paper {
    background-color: #091434;
    max-height: 100%;
    max-width: 100%;
    width: 100%;
    height: 100%;
    top: 97px !important;
    left: 0 !important;
    right: 0 !important;
  }
  #menu-appbar .MuiPopover-paper ul {
    height: 100%;
  }
  .menu-position {
    justify-content: flex-start;
  }
  .menu-social {
    position: absolute;
    bottom: 120px;
    left: 50%;
    margin-left: -60px;
  }
  .comm-stat {
    margin: 0 20px;
  }
  .comm-item {
    font-size: 22px;
    margin-left: 10px;
  }
}

@media screen and (max-width: 599px) {
  .d-sm-none {
    display: none;
  }
  .title-section {
    text-align: center;
    font-size: 36px;
    font-family: "Rubik" !important;
  }
  .swiper-pagination {
    display: none;
  }
  .community {
    padding: 0 0 50px;
  }
  .comm-stat span {
    max-width: 40px !important;
  }
  .fFlex {
    justify-content: center;
  }
  .mr-4 {
    margin-right: 16px;
  }
  .footer {
    height: 48px;
  }
  .btn {
    font-size: 14px;
  }
}
