.appBar {
  box-shadow: none;
  background-color: transparent;
}
.page {
  margin: 10px 0;
  color: #fff;
  display: block;
}

@media screen and (max-width: 899px) {
  .page {
    font-size: 18px;
    margin: 5px 0;
  }
}
